---
services:
  db:
    image: supabase/postgres:17.6.1.057
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-todo}
      APPRISE_ENDPOINT: ${APPRISE_ENDPOINT:-http://apprise-api:8000/notify/}
    volumes:
      - db:/var/lib/postgresql/data
      - ./db/init.sh:/docker-entrypoint-initdb.d/zz_00_init.sh:ro
      - ./db/schema.sql:/schema.sql:ro
  api:
    image: postgrest/postgrest:v14.1
    depends_on:
      - db
    environment:
      PGRST_DB_URI: postgres://postgres:${POSTGRES_PASSWORD:-todo}@db:5432/postgres
      PGRST_DB_SCHEMAS: api
      PGRST_DB_ANON_ROLE: anon
      PGRST_SERVER_PORT: 3000
  apprise-api:
    image: caronc/apprise:latest
  ui:
    build: .
    depends_on:
      - api
    environment:
      TZ: America/Los_Angeles
    ports:
      - '8082:80'
volumes:
  db: null